<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctman.adefault">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS "/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <supports-screens
    android:largeScreens="true"
    android:normalScreens="true"
    android:smallScreens="true"
    android:xlargeScreens="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ctframe_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ctframe_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.ctman.adefault.Slideshow_Activity"></activity>
        <activity android:name="com.ctman.adefault.Activity_Select" />
        <activity android:name="com.ctman.adefault.Activity_Fullscreen_mainpage" />
        <activity android:name="com.ctman.adefault.Activity_Pixabay_Category" />
        <activity
            android:name="com.ctman.adefault.Activity_Fullscreen"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.ctman.adefault.Activity_Pixabay"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity android:name="com.ctman.adefault.Activity_Drive" />
        <activity android:name="com.ctman.adefault.UnityPlayerActivity" />
        <activity android:name="com.ctman.adefault.Activity_MyPage" />
        <activity android:name="com.ctman.adefault.Activity_Signup" />
        <activity android:name="com.ctman.adefault.Activity_Statistics" />
        <activity android:name="com.ctman.adefault.Activiy_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- android:windowSoftInputMode="adjustNothing"은 키보드가 레이아웃에 영향을 주지 않는다는 코드이다 -->
        <activity
            android:name="com.ctman.adefault.Activity_Login"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.ctman.adefault.MainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
    </application>

</manifest>